<html>
<head>
    <title>Reading List</title>
    <link rel="stylesheet" th:href="@{/style.css}"></link>
</head>

<body>
<h2>Doug Login</h2>


<hr/>

<h3>Just Login</h3>
<form method="POST">
    <div>eat doodoo</div>
    <dt class="doug">
        <label for="username">Name:</label>
        <input type="text" name="name" size="50"></input><br/>
        <label for="password">Password:</label>
        <input type="text" name="password" size="50"></input><br/>
        <label for="notes">Description:</label><br/>
    </dt>
    <dd class="doug1">
        <textarea name="description" cols="80" rows="5">DESCRIPTION</textarea><br/>
        <input type="submit"></input>
    </dd>
</form>

</body>
</html>